#content-body {
  min-height: 100vh;
}

#book-body {
  margin-top: 50px;
}

#book-n-review {
  padding-right: 100px;
  margin-left: 50px;
}

#book-img {
  width: 220px;
}

#book-info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 400px;
}

#book-title {
  font-family: "Gotham-Black";
}

#book-price {
  margin-top: 10px;
}

#book-details {
  cursor: pointer;
}

#book-details:hover {
  text-decoration: underline;
}

#book-details:after {
  text-decoration: none;
}

#details {
  font-size: 12px;
}

#relatedbooks {
  margin-left: 20px;
}

#relatedbooks-title {
  font-family: "Gotham-Black";
}

#review-section {
  margin-top: 50px;
  margin-bottom: 70px;
}

#review-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#review-title {
  font-family: "Gotham-Black";
  padding-right: 200px;
}

#review-bttn {
  display: flex;
  align-items: center;
  background-color: white;
  border: 3px solid rgba(0, 158, 139, 1);
  border-radius: 20px;
  font-family: "Gotham-Medium";
  color: rgba(0, 158, 139, 1);
  font-size: 15px;
  outline: 0 !important;
  margin-left: 430px;
  padding: 8px 15px;
}

#review-bttn:hover {
  background-color: rgba(0, 158, 139, 1);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  src: "../Image/addBookIcon_White.png";
}

#review-bttn-text {
  font-family: "Gotham-Medium";
}

#review-info {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 650px;
  overflow: auto;
  margin-top: 30px;
}
