#book-body {
  margin-top: 50px;
}

#book-n-review {
  padding-right: 100px;
  margin-left: 50px;
}

#book-img {
  width: 220px;
}

#book-info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 400px;
}

#book-title {
  font-family: "Gotham-Black";
}

#book-price {
  margin-top: 10px;
}

#book-details {
  cursor: pointer;
}

#book-details:hover {
  text-decoration: underline;
}

#book-details:after {
  text-decoration: none;
}

#details {
  font-size: 12px;
}

#relatedbooks {
  margin-left: 50px;
}

#relatedbooks-title {
  font-family: "Gotham-Black";
}

#review {
  margin-top: 50px;
  margin-bottom: 70px;
}

#review-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#review-title {
  font-family: "Gotham-Black";
}

#review-bttn {
  display: flex;
  align-items: center;
  background-color: rgba(0, 158, 139);
  border: none;
  border-radius: 5px;
  margin-left: 430px;
  padding: 10px 15px;
  outline: 0;
  font-size: 12px;
  color: white;
}

#review-info {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 650px;
  overflow: auto;
  margin-top: 30px;
}
