#home-bg {
  min-width: 100%;
  background-image: url("../Image/home_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

#nextpage-bttn {
  margin-top: 50%;
  margin-bottom: 10%;
  width: 200px;
  background-color: rgba(232, 128, 138, 0.75);
  border: none;
  border-radius: 30px;
  padding: 12px 15px;
  outline: 0;
  font-family: "Gotham-Medium";
  font-size: 15px;
  color: white;
}

#nextpage-bttn:hover {
  background-color: rgba(232, 128, 138);
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
}
