#body-bg {
  font-family: "Gotham-Medium";
  display: flex;
}

#image-bg {
  height: 100vh;
  width: 40%;
  background-image: url("../Image/login_bg.png");
  background-size: cover;
  background-position: center;
}

#form-bg {
  height: 100vh;
  width: 60%;
  background-color: rgb(13, 21, 56);
  color: white;
  overflow-x: hidden;
}

#form-header {
  margin-top: 50px;
  font-family: "Gotham-Black";
  font-size: 40px;
  text-align: center;
}

#form {
  margin-top: 40px;
  text-align: center;
}

#form-group {
  justify-content: center;
}

#error {
  margin-bottom: 20px;
  font-family: "Gotham-Book";
  font-size: 15px;
  color: red;
}

#signup-error {
  margin-bottom: 5px;
  font-family: "Gotham-Book";
  font-size: 15px;
  color: red;
}


#form-bttn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

#confirm-bttn {
  width: 60%;
  margin-top: 40px;
  background-color: rgba(0, 158, 139);
  border: none;
  border-radius: 30px;
  padding: 5px 20px;
  outline: 0;
  color: white;
}

#forgotpw-bttn {
  margin-top: 10px;
  font-size: 15px;
}

#alt-bg {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
}

#alt-bttn {
  background-color: rgb(13, 21, 56);
  border: 2px solid rgba(0, 158, 139);
  border-radius: 30px;
  padding: 5px 20px;
  outline: 0;
  color: white;
}
