MONGO_IP=100.27.12.250
MONGO_USER=admin
MONGO_PW=password
MONGO_DB=readme_mongo
MONGO_USERS_COL=userbase
MONGO_METADATA_COL=kindle_metadata

SQL_IP=3.80.198.220
SQL_USER=root
SQL_PW=
SQL_DB=readme_sql
SQL_KINDLE=Kindle