MONGO_IP=204.236.223.217
MONGO_USER=historicriptide
MONGO_PW=futuresparkles
MONGO_DB=readme_mongo
MONGO_USERS_COL=userbase
MONGO_METADATA_COL=kindle_metadata
MONGO_LOG_COL=log

SQL_IP=52.73.249.157
SQL_USER=historicriptide
SQL_PW=futuresparkles
SQL_DB=readme_sql
SQL_KINDLE=Kindle

SECRET_KEY=706c656173652067656e657261746520612072616e646f6d206e756d626572
